.input-header {
  width: 100%;
  height: 2rem;
  background: #242424;
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #242424;
  color: #fff;
}

.input-header_border-none {
  width: 100%;
  height: 2rem;
  background: #242424;
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.input::placeholder {
  outline: none;
  color: #323232;
}

.error {
  font-size: 0.75rem;
  color: red;
}
