button {
  cursor: pointer;
}

.normal_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;

  width: 100%;

  gap: 0.8rem;
  border: none;
  border-radius: 0.4375rem;

  color: #fff;

  background-color: #1f7cfb;
  font-family: "Outfit", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.background_off {
  background: transparent;
  color: #c0293d;
}

.content {
  display: flex;
  align-items: center;

  gap: 0.31rem;
}

.content > div {
  margin-top: 2px;
}
