.home-page {
  display: flex;
  height: 100%;
}

.header-nav-main-conteiner {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  height: 35rem;
  overflow: hidden;
  overflow-y: scroll;
}

.header-nav-main-list-conteiner {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  height: 40.5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.header-nav-main-conteiner-close {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  height: 35rem;
  overflow: hidden;
  overflow-y: scroll;
}

.header-nav-main-list-conteiner-close {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  height: 35rem;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  margin-top: 16rem;
  margin-bottom: 10rem;
}

::-webkit-scrollbar {
  padding-left: 1rem;
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 9.5625rem;
  background-color: #323232;
  height: 0.2rem;
}

.header-nav-main-conteiner-close-modal {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}

h1 {
  color: #fff;
  font-family: Outfit;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-button-icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 1.8rem;
}

.glass-icon {
  width: 100%;
  color: #fff;
}

.input-component {
  align-self: center;
  padding-left: 3%;
}

.input-search {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #242424;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.icon {
  width: 10%;
  height: 100%;
  padding-top: 9px;
}

.button-component {
  display: flex;
  align-self: center;
  height: 90%;
  width: 40%;
}

.button-add-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 100%;
  gap: 7%;
}

.all-item-notification {
  display: flex;
}

.notification {
  display: flex;
  padding: 15%;
  border-radius: 50%;
  border: 0.6px solid rgba(255, 255, 255, 0.04);
  background: #242424;
  color: #fff;
  height: max-content;
}

.number-notification {
  border-radius: 50%;
  margin-left: -20%;
  font-size: 70%;
  border: 0.763px solid rgba(255, 255, 255, 0.04);
  background: #c0293d;
  color: #fff;
  height: max-content;
}

.logo {
  border-radius: 50%;
}

.title-page {
  padding-top: 6%;
}

.nav-tab-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  padding-top: 2%;
  padding-bottom: 1%;
}

.tab-conteiner {
  display: flex;
}

.toggle-conteiner {
  display: flex;
  align-self: baseline;
}

.toggle-conteiner {
  display: flex;
  align-self: end;
}

.nav-main-conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.products-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.column-modal {
  height: 100%;
}

.column-modal-close {
  display: none;
}

.column-sidebar {
  width: 15%;
  height: 100%;
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}