.Button {
  width: 10.08213rem;
}

.home-page {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 3.37rem;

  width: 100%;
}

.main-width-open-modal {
  width: 45rem;
}

.main-width-close-modal {
  width: 62rem;
}

.tab-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.19rem;
  margin-bottom: 1rem;
}

.grid-layout-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1.7rem;
  margin-left: -3.1rem;
}

.grid-layout-column-open-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.7rem;
  width: 100%;
  margin-left: -3.1rem;
}

.grid-layout-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  margin-left: 1.25rem;
}

nav {
  margin-left: 1.25rem;
}

.title {
  margin-top: 3rem;
  color: #fff;

  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.icon-photo {
  padding: 5px;
  background: #242424;
  border-radius: 50%;
  border: 0.673px solid rgba(255, 255, 255, 0.04);
}

.button-icons {
  display: flex;
  gap: 2rem;
}

.logo {
  border-radius: 50%;
  width: 1rem;
}

.modal-close {
  visibility: hidden;
}

.modal-section {
  display: flex;
  flex-direction: column;

  height: 100vh !important;
  max-width: 18.125rem;

  background-color: #323232;
  font-family: "Outfit", sans-serif;
}
