.title-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.title-page {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.layout-registration {
  display: flex;
  flex-direction: column;
}

.container-inputs-image {
  display: flex;
}

.registration-container {
  display: flex;
}

.inputs-description-quanty-mensure {
  display: flex;
}

.content-input-registration {
  display: flex;
  flex-direction: column;
}

.input-quanty-mensure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100;
}

.input-products {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  color: #8a8a8a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-products-supplier {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  color: #8a8a8a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-amount-products {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  color: #8a8a8a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input .jpg-image {
  color: #8a8a8a;
  font-size: 0.53669rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.30625rem;
  background: #4a4a4a;
}

.title-inputs {
  color: #8a8a8a;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputs-Purchase-price-currency {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.inputs-description-supplier {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.inputs-purchase-price-currency-supplier {
  display: flex;
}

.description-products-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.description-products-content textarea {
  width: 100%;
  height: 100%;
  border-radius: 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #242424;
  resize: none;
}

.container-button-submit {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.div-button {
  display: flex;
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  position: relative;
}

.icon {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #fff;
  position: absolute;
  transform: translateY(-50%);
}

.icon-sale-purchase-currency {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #fff;
  position: absolute;
  transform: translateY(-50%);
}

.input {
  height: 100%;
  box-sizing: border-box;
}

.line {
  width: 0.4rem;
  height: 0.1px;
  background: #8a8a8a;
}

.icon-caret-up {
  cursor: pointer;
}

.icon-caret-down {
  cursor: pointer;
}
