 .teste02 {
   width: 10rem;
 }

 .container_list_card {
   margin-left: 3rem;
   display: flex;
   align-items: center;
   width: 61.1875rem;
   height: 4.6875rem;
   border-radius: 0.442rem;
   background: #323232;
 }

 .content_card_list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 0.31rem;
   width: 9.0625rem;
   height: 4.0625rem;
   border-radius: 0.31213rem;
   background: #4a4a4a;
 }

 .content_card_list span {
   color: #8a8a8a;
   font-size: 0.54694rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }

 .product_name_list_card {
   color: #fff;
   font-size: 0.82088rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-bottom: 0.75rem;
 }

 .description_product_list_card {
   color: #8a8a8a;
   font-size: 0.75rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }

 .description_product_list_card span {
   color: #fff;
   font-size: 0.75rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }

 .all_descriptions {
   display: flex;
   flex-direction: column;
   padding-left: 0.88rem;
 }

 .description_product_list_card {
   display: flex;
   flex-direction: row;
   gap: 1.55rem;
 }

 .product_name_list_card button {
   cursor: pointer;
   background: none;
   border: none;
 }

 .pencil_edit button {
   padding-left: 6.5rem;
   padding-right: 1.81rem;
   cursor: pointer;
   background: none;
   border: none;
 }