.container_card {
    margin-left: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 13.95519rem;
    height: 13.76575rem;
    border-radius: 0.442rem;
    background: #323232;
}

.content_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.84431rem;
    height: 9.47188rem;
    border-radius: 0.442rem;
    background: #4A4A4A;
    margin-top: 0.51rem;
    margin-left: 0.56rem;
    margin-right: 0.56rem;
}

.content_card span {
    color: #8A8A8A;
    font-size: 0.77456rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_name {
    display: flex;
    justify-content: space-between;
    padding-left: 0.56rem;
    padding-right: 0.56rem;
    padding-top: 0.44rem;
    color: #FFF;
    font-size: 0.82088rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_name button {
    cursor: pointer;
    background: none;
    border: none;
}

.description_product {
    display: flex;
    justify-content: space-between;
    padding-left: 0.56rem;
    padding-right: 0.56rem;
    padding-top: 0.77rem;
    color: #8A8A8A;
    font-size: 0.82088rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description_product span {
    color: #FFF;
    font-size: 0.82088rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_list_card {
    margin-top: 3rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    width: 61.1875rem;
    height: 4.6875rem;
    border-radius: 0.442rem;
    background: #323232;
}

.content_card_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.31rem;
    width: 9.0625rem;
    height: 4.0625rem;
    border-radius: 0.31213rem;
    background: #4A4A4A;
}

.content_card_list span {
    color: #8A8A8A;
    font-size: 0.54694rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_name_list_card {
    color: #FFF;
    font-size: 0.82088rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0.75rem;
}

.description_product_list_card {
    color: #8A8A8A;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description_product_list_card span {
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.all_descriptions {
    display: flex;
    flex-direction: column;
    padding-left: 0.88rem;
}

.description_product_list_card {
    display: flex;
    flex-direction: row;
    gap: 1.55rem;
}

.product_name_list_card button {
    cursor: pointer;
    background: none;
    border: none;
}

.pencil_edit button {
    padding-left: 6.5rem;
    padding-right: 1.81rem;
    cursor: pointer;
    background: none;
    border: none;
}