.container-all {
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  background: #1b1b1b;
}

.logo {
  display: flex;
  justify-content: center;
}

.image-logo {
  cursor: pointer;
}

.line {
  width: 80%;
  height: 0.09rem;
  background: #323232;
}

.div-line {
  display: flex;
  justify-content: center;
}

.line-vertical {
  width: 100%;
  height: 100%;
  background: #323232;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  height: 100%;
  color: #525252;
  cursor: pointer;
}

.div-line-two {
  display: flex;
  justify-content: center;
}

.button-selected {
  border-radius: 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  color: #fff;
  border: none;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
  box-shadow: none;
}

.button-not-selected {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Outfit;
}

.button-exit-selected {
  border-radius: 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  color: #c0293d;
  border: none;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
}

.button-exit-not-selected {
  background: transparent;
  border: none;
  display: flex;
  color: #c0293d;
  font-family: Outfit;
  align-items: center;
  justify-content: center;
}
