.container-all {
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 14rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 25%;
}

.image-logo {
  cursor: pointer;
  width: 40%;
  height: 100%;
}

.line {
  width: 50%;
  height: 0.09rem;
  background: #323232;
}

.div-line-one {
  display: flex;
  justify-content: center;
  padding-top: 30%;
}

.div-line-three {
  padding-left: 5%;
}

.line-vertical {
  height: 100vh;
  width: 0.09rem;
  background: #323232;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  gap: 1rem;
}

.buttons-settings-exit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  color: #525252;
  cursor: pointer;
}

.div-line-two {
  display: flex;
  justify-content: center;
  padding-top: 60%;
  padding-bottom: 50%;
}

.button-selected {
  border-radius: 0.4375rem;
  font-size: x-large;
  border: 1px solid rgba(255, 255, 255, 0.04);
  color: #fff;
  border: none;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
  font-size: 0.8rem;
  box-shadow: none;
  height: 1.8rem;
  gap: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.31rem;
  padding-bottom: 0.31rem;
}

.button-not-selected {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Outfit;
  font-size: x-large;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.button-exit-selected {
  border-radius: 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.04);
  color: #c0293d;
  border: none;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
  font-size: x-large;
  font-size: 0.8rem;
  gap: 0.5rem;
}

.button-exit-not-selected {
  background: transparent;
  border: none;
  display: flex;
  color: #c0293d;
  font-family: Outfit;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 0.5rem;
}