.tabs {
  display: flex;
  width: 100%;
  background-color: #1b1b1b;
  gap: 20%;
}

span {
  padding: 0.2rem;
}

.btn-not-active-style {
  display: flex;
  align-items: center;
  color: #8a8a8a;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-active-style {
  display: flex;
  align-items: center;
  color: #1f7cfb;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

button {
  font-family: "Outfit", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}
