button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.modal-section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  max-width: 18.125rem;
  height: 100%;
  background-color: #323232;
  font-family: "Outfit", sans-serif;
}

.modal-content {
  padding-top: 1.5rem;
  padding-right: 3.12rem;
  padding-left: 1.19rem;

  height: 100%;
}

.modal-header {
  display: flex;
  justify-content: end;
  width: 100%;
}

.modal-title {
  margin-top: 1.19rem;
}

.modal-title h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 12rem;

  margin-top: 0.56rem;

  font-size: 0.75rem;
  font-weight: 400;
  color: #8a8a8a;
}

.info-value {
  color: #fff;
}

.product-image {
  max-width: 13.8125rem;
  height: 9.1875rem;

  display: flex;
  flex-direction: column;

  margin-top: 0.56rem;

  background-color: #4a4a4a;
  border-radius: 0.4375rem;
}

.subtitle {
  margin-top: 0.63rem;
}

.subtitle h2 {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;

  margin-left: 0.44rem;
}

.product-description {
  width: 13.8125rem;
  height: 3.625rem;

  margin-top: 0.25rem;
}

.product-description textarea {
  padding: 0.31rem 0 0 0.44rem;

  width: 100%;
  height: 100%;

  background: #1c1c1c;

  color: #8a8a8a;
  font-family: "Outfit", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;

  border: none;
  border-radius: 0.4375rem;
  resize: none;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.87rem;

  max-width: 13.8125rem;

  margin-top: 1rem;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: #1f7cfb;
  color: #fff;

  font-size: 0.875rem;
  font-weight: 400;

  border-radius: 0.4375rem;

  width: 100%;
  height: 1.75rem;
}

.delete-button {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.4rem;
  align-items: center;

  max-width: 4rem;

  color: #c0293d;
  font-size: 0.875rem;
  font-weight: 400;
}

.edition-icon {
  width: 10px;
}
